<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Document
  link(rel="stylesheet", href="/css/styles.css")
body
  h1 Hello, Everyone!!
  script(src="/js/main-min.js", type="text/javascript")
